* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a,
button {
  cursor: pointer;
}

body {
  background-color: goldenrod;
  padding: 30px;
}

#root {
  display: inline-flex;
  gap: 20px;
}

.bank-list-wrap {
  position: relative;
  padding: 40px;
  min-width: 500px;
  min-height: 700px;
  background-color: antiquewhite;
  border: 3px solid black;
  border-radius: 10%;
}

.bank-desc-wrap {
  padding: 40px;
  min-width: 600px;
  background-color: antiquewhite;
  border: 3px solid black;
  border-radius: 10%;
}

.bank-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.bank-list__item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.bank-list__title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 25px;
}

.bank-list__btn {
  height: 50px;
  background-color: transparent;
  font-size: 12px;
  border-radius: 5px;
}

.bank-list-button {
  position: absolute;
  right: 40px;
  bottom: 40px;
  font-size: 20px;
  background-color: transparent;
  border-radius: 5px;
}

.none {
  display: none;
}

.bank-desc-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.bank-desc-list__text {
  padding: 5px;
  font-size: 25px;
  border: 1px solid black;
  border-radius: 5px;
}

.new-bank-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  bottom: 5%;
  left: 20%;
  width: 300px;
}

.new-bank-input {
  padding: 10px;
  height: 30px;
  font-size: 12px;
  border-radius: 5%;
}

.new-bank-btn {
  height: 30px;
  font-size: 12px;
  background-color: transparent;
  border-radius: 5px;
}

.destroy-btn {
  margin-top: 10px;
  height: 30px;
  font-size: 12px;
  background-color: transparent;
  border-radius: 5px;
}
